:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  all: unset;
  cursor: pointer;
}

.tree-item-contents {
  display: flex;
  align-items: center;
  padding-right: 8px;
}

.tree-item {
  cursor: pointer;
}

.tree-item:hover {
  background-color: #4a4a4a;
}

.folder {
  width: 100%;
}

.tree-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 8px;
  margin-right: 4px;
  flex-shrink: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  .tree-item:hover {
    background-color: #eeeeee;
  }
}
